// ========================================
// Footer
// ========================================

footer * 			{
	color: $white;
}

.footer-content		{
	@include mqm(large)	{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}

.footer-content a:hover,
.footer-content a:focus	{
	text-decoration: underline;
}

.footer-services	{
	justify-content: center;
	@include mqm(small)	{
		justify-content: space-evenly;
	}
}

.offices			{
	justify-content: center;
	flex-wrap: wrap;
	@include mqm(small)	{
		justify-content: space-evenly;
	}
}

.about,
.service-links,
.office				{
	width: 225px;
	margin: 0 0 30px;
}

// Copyright / Social links

.footer-bottom		{
	justify-content: space-between;
	font-size: .8125rem;
	padding-top: 10px;
	border-top: 1px solid $footer-border;
	margin-top: 10px;
}

.copyright			{
	padding-top: 5px;
}

.social-media		{
	justify-content: flex-end;
	font-size: .9rem;
	margin-top: -5px;
}

.social-media a		{
	display: block;
	text-align: center;
	text-decoration: none;
	padding: 7px 10px 10px;
	border-radius: 50%;
	max-height: 38px;
	&span 				{
		position: relative;
		top: 4px;
	}
}

.facebook:hover,
.facebook:focus	{
	background-color: $facebook;
}

.twitter:hover,
.twitter:focus	{
	background-color: $twitter;
}

.instagram:hover,
.instagram:focus	{
	background-color: $instagram;
}

.linkedin:hover,
.linkedin:focus	{
	background-color: $linkedin;
}
