@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,600&display=swap");
/* line 8, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 16, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
body {
  margin: 0;
}

/* line 26, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/* line 45, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

/* line 57, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 66, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
[hidden],
template {
  display: none;
}

/* line 75, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
a {
  background: transparent;
}

/* line 82, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* line 91, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 98, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 106, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 114, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 122, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 130, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
small {
  font-size: 80%;
}

/* line 137, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 145, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 149, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 157, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
img {
  border: 0;
}

/* line 164, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 172, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
figure {
  margin: 1em 40px;
}

/* line 179, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* line 188, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
pre {
  overflow: auto;
}

/* line 195, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* line 214, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

/* line 227, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
button {
  overflow: visible;
}

/* line 237, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
button,
select {
  text-transform: none;
}

/* line 249, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 260, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 268, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 278, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
input {
  line-height: normal;
}

/* line 284, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
*
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 300, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* line 310, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 322, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 330, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 340, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
legend {
  border: 0;
  padding: 0;
}

/* line 348, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
textarea {
  overflow: auto;
}

/* line 356, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
optgroup {
  font-weight: bold;
}

/* line 364, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 369, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
td,
th {
  padding: 0;
}

/* line 5, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_base.scss */
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 10, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_base.scss */
body {
  font-family: Poppins, sans-serif;
  letter-spacing: .4px;
}

/* line 17, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_base.scss */
a {
  text-decoration: none;
  color: #000;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 14, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
img {
  vertical-align: middle;
  border: 0;
}

/* line 19, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.wrapper-outer {
  width: 100%;
}

/* line 23, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.wrapper-inner {
  width: 100vw;
  margin: 0 auto;
  max-width: 1260px;
  padding: 50px 15px;
}

/* line 30, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.flex {
  display: flex;
}

/* line 34, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.right {
  float: right;
}

/* line 38, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.left {
  float: left;
}

/* line 42, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.clearfix {
  clear: both;
}

/* line 46, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.h1, h1 {
  font-size: 2.25rem;
  margin: 0;
}

/* line 51, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.btn-container {
  display: block;
}

/* line 55, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.btn {
  display: inline-block;
  height: auto;
  line-height: 35px;
  font-size: 1.063rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  white-space: normal;
  padding: 5px 15px;
  border: 1px solid transparent;
  border-radius: 3px;
  margin-bottom: 0;
  cursor: pointer;
}

/* line 72, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.hidden {
  display: none !important;
  visibility: hidden !important;
}

/* line 79, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
h1 {
  color: #333645;
}

/* line 83, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
a {
  color: #333645;
  background: transparent;
  text-decoration: none;
}

/* line 90, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.h1, .text {
  color: #fff;
}

/* line 94, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.header,
.service-list,
.partner-carousell,
.news {
  background-color: rgba(255, 255, 255, 0.5);
}

/* line 101, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.content,
.footer {
  background-color: #333645;
}

/* line 106, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.sign-up,
.search-bar {
  background-color: #d6d6d6;
}

/* line 114, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.header-inner {
  padding: 20px 0;
}

/* line 118, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 125, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.container__top {
  display: table;
  width: 100%;
  margin: 0;
}

/* line 131, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.container__top:last-child {
  width: 1%;
}

/* line 135, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.container__logo {
  display: table;
  table-layout: fixed;
}

/* line 140, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.container__logo .logo {
  display: table-cell;
  vertical-align: middle;
}

/* line 145, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.logo img {
  display: block;
  max-width: 100%;
}

/* line 150, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.container__top > * {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  padding: 0;
}

/* line 157, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.container__phone,
.wrapper-hamburger {
  position: relative;
  min-height: 1px;
}

/* line 163, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.phone {
  font-size: 32px;
  margin-left: 15px;
}

/* line 168, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.container__hamburger {
  padding: 7px 0;
}

/* line 172, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.hamburger {
  height: 56px;
  color: #fff;
  background-color: #333645;
  padding: 5px 15px;
  margin: 0 0 0 20px;
}

/* line 180, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.hamburger-box {
  display: block;
  position: relative;
  width: 33px;
  height: 19px;
  font-size: 1.438rem;
  line-height: 45px;
}

/* line 189, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.search-wrapper {
  padding: 0 15px;
  margin: 5px 0;
}

/* line 194, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.search__form {
  margin-top: 11px;
  position: relative;
}

/* line 199, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.search__bar {
  width: 100%;
  padding: 5px 40px 5px 15px;
}

/* line 204, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.search__submit {
  position: absolute;
  right: 15px;
  background: none;
  border: none;
}

/* line 213, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.hero {
  width: 100%;
  min-height: 550px;
  position: relative;
  flex-direction: column;
  justify-content: center;
}

/* line 221, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.hero__item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
}

/* line 231, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.hero img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* line 238, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.overlay {
  position: relative;
  text-align: center;
  padding: 3.75rem;
}

/* line 244, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.overlay__content {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 251, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.text .h1 {
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 600;
  margin: 0 0 1.25rem;
}

/* line 258, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.text p {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  margin-bottom: 0.375rem;
}

/* line 265, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.overlay .btn {
  color: #fff;
  background-color: #67809f;
  padding: 1em;
  border-radius: .25em;
  text-transform: uppercase;
}

/* line 276, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.services {
  flex-direction: column;
}

/* line 280, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.services .service {
  display: block;
  position: relative;
  top: 0;
  text-align: center;
  text-decoration: none;
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 15px;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  margin: 30px 0 0;
  transition: .5s ease;
}

/* line 294, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.services .service:hover,
.services .service:focus {
  top: -10px;
  transition: .5s ease;
  color: #fff;
  border-color: transparent;
}

/* line 302, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.services .service > span {
  display: block;
}

/* line 306, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.services .service > span.icon span {
  font-size: 2rem;
}

/* line 310, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.services .service > span.h2 {
  font-size: 1.3rem;
  position: relative;
  padding: 0 0 10px;
  margin: 0 0 11px;
}

/* line 317, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.services .service > span.p {
  font-size: .8125rem;
  line-height: 1.375rem;
  margin: 0 0 13px;
}

/* line 323, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.icon {
  height: 65px;
  width: 65px;
  display: block;
  color: #fff;
  border-radius: 50%;
  padding: 1em;
  margin: 0 auto 17px;
}

/* line 333, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.software .icon {
  background-color: #67809f;
  padding: 1em;
}

/* line 338, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.software .btn {
  color: #fff;
  background-color: #67809f;
}

/* line 343, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.support .icon, .support .btn {
  background-color: #4183d7;
}

/* line 347, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.marketing .icon, .marketing .btn {
  background-color: #2ecc71;
}

/* line 351, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.telecoms .icon, .telecoms .btn {
  background-color: #d64541;
}

/* line 355, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.web .icon, .web .btn {
  background-color: #79539a;
}

/* line 359, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.security .icon, .security .btn {
  background-color: #f62459;
}

/* line 363, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.training .icon, .training .btn {
  background-color: #ce4125;
}

/* line 367, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.view-all {
  text-align: center;
  margin: 30px 0 -70px;
}

/* line 372, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.view-all__view {
  font-size: 1.625rem;
  margin: 0 auto 15px;
}

/* line 378, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.partner-carousell {
  overflow: hidden;
}

/* line 382, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.partner {
  display: inline;
  margin-right: 1rem;
}

/* line 387, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
img.coloured {
  position: absolute;
  z-index: 1;
}

/* line 392, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
img.greyscale {
  position: relative;
  left: 0;
  z-index: 2;
}

/* line 398, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
img.greyscale:hover {
  opacity: 0;
  cursor: pointer;
}

/* line 405, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
article p {
  line-height: 1.875rem;
  margin: 0 0 25px;
}

/* line 410, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.content {
  color: #fff;
}

/* line 414, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.content-link {
  color: #fff;
}

/* line 418, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.content-link:hover,
.content-link:focus {
  text-decoration: underline;
}

/* line 423, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.content .btn {
  font-size: 20px;
  padding: 10px 30px;
  border-radius: 6px;
}

/* line 429, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.btn-content {
  color: #fff;
  background-color: #272936;
  margin: 0 0 50px;
}

/* line 435, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.star {
  color: #ffa500;
  font-size: 2.25rem;
  margin-bottom: 25px;
}

/* line 441, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.btn-google {
  color: #fff;
  background-color: #4387f6;
  margin: 20px 8px 0 0;
}

/* line 447, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.btn-trustpilot {
  color: #fff;
  background-color: #00b67b;
  margin: 20px 0 0;
}

/* line 453, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.quote {
  font-style: italic;
  font-size: 1.3rem;
  font-weight: 600;
}

/* line 459, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.quote-author {
  font-size: 1.1rem;
  font-weight: 600;
  color: #a3a8ac;
}

/* line 467, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.news.h1 {
  color: #333645;
  margin-bottom: 30px;
}

/* line 476, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.item__news {
  font-size: .8125rem;
  margin-top: 30px;
  position: relative;
  top: 0;
  transition: .5s ease;
}

/* line 484, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.item__news:hover,
.item__news:focus {
  top: -10px;
  transition: .5s ease;
}

/* line 490, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.container__img {
  display: block;
  position: relative;
  border-radius: 3px 3px 0 0;
}

/* line 496, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.btn-catagory {
  position: absolute;
  top: 10px;
  right: 0;
  z-index: 1;
  color: #fff;
  font-size: .75rem;
  line-height: 1.438rem;
  text-transform: uppercase;
  padding: 0 10px;
}

/* line 508, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.btn-catagory:hover,
.btn-catagory:focus {
  text-decoration: underline;
}

/* line 513, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
h3.news a {
  color: #926fb1;
}

/* line 517, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
h3.careers a,
h3.software-news a {
  color: #67809f;
}

/* line 522, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
a.news {
  background-color: #926fb1;
}

/* line 526, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
a.careers,
a.software-news {
  background-color: #67809f;
}

/* line 531, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.container__img img {
  width: 100%;
  height: auto;
}

/* line 536, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.container__content {
  display: block;
  padding: 30px;
  border: 1px solid #d6d6d6;
  border-top: 0;
  border-radius: 0 0 3px 3px;
}

/* line 544, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.container__content h3 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
}

/* line 550, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.container__content p {
  font-size: .8125rem;
  line-height: 1.375rem;
}

/* line 555, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.author {
  display: table;
  width: 100%;
  font-size: .875rem;
  padding-top: 30px;
  border-top: 1px solid #d6d6d6;
  margin-top: 30px;
}

/* line 564, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.author > * {
  display: table-cell;
  vertical-align: middle;
}

/* line 569, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.author > .avatar {
  width: 1%;
  border-radius: 50%;
  overflow: hidden;
}

/* line 575, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.author > .details {
  padding-left: 20px;
  line-height: 1.375rem;
}

/* line 580, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.btn-news {
  color: #fff;
}

/* line 587, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.wrapper__input {
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

/* line 593, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.container__sign-up h2 {
  font-size: 2rem;
  line-height: 1.1;
  font-weight: 400;
  color: #333645;
  margin: 0 0 15px;
}

/* line 601, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.sign-up-input {
  flex: 1 1 450px;
  padding: 0 15px;
}

/* line 606, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.form-group {
  margin: 0 0 15px;
}

/* line 610, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.form-control {
  display: block;
  width: 100%;
  height: 47px;
  background-color: #fff;
  padding: 5px 15px;
  border: 1px solid #fff;
  border-radius: 2px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

/* line 621, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.required:after {
  content: " *";
  color: #d64541;
}

/* line 626, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
label {
  display: inline-block;
  color: #333645;
  font-weight: 600;
  margin: 0 0 5px;
}

/* line 633, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.checkbox {
  line-height: 32px;
  cursor: pointer;
}

/* line 638, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.privacy:first-child {
  margin-top: 0;
}

/* line 642, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.privacy,
.privacy-body {
  zoom: 1;
  overflow: hidden;
}

/* line 648, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.privacy-check {
  padding-right: 0;
}

/* line 652, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.privacy-check,
.privacy-align {
  display: table-cell;
  vertical-align: top;
}

/* line 658, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.button {
  position: relative;
  width: 32px;
  height: 32px;
  border: 3px solid #333645;
  border-radius: 3px;
  margin-right: 20px;
}

/* line 667, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
[type=checkbox] {
  display: none;
  line-height: normal;
  padding: 0;
  margin: 4px 0 0;
}

/* line 674, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.privacy-body {
  width: 10000px;
}

/* line 678, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
label a {
  text-decoration: underline;
}

/* line 682, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.subscribe {
  color: #fff;
  background-color: #333645;
  border-color: #333645;
}

/* line 690, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
footer * {
  color: #fff;
}

/* line 696, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
ul, li {
  list-style-type: none;
  color: #fff;
  font-size: .8125rem;
  line-height: 1.375rem;
  padding: 0;
  margin: 0;
  text-align: left;
}

/* line 706, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
footer h4 {
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 0 26px;
}

/* line 713, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.footer-content a:hover,
.footer-content a:focus {
  text-decoration: underline;
}

/* line 718, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
li {
  display: list-item;
}

/* line 722, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.footer-content {
  justify-content: space-between;
  flex-wrap: wrap;
}

/* line 727, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.footer-content .footer-services {
  justify-content: space-between;
}

/* line 731, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.footer-content .offices {
  justify-content: center;
  flex-wrap: wrap;
}

/* line 736, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.about, .service-links, .office {
  width: 225px;
  margin: 0 0 30px;
}

/* line 743, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.footer-bottom {
  justify-content: space-between;
  font-size: .8125rem;
  padding-top: 10px;
  border-top: 1px solid #666;
  margin-top: 10px;
}

/* line 751, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.copyright {
  padding-top: 5px;
}

/* line 755, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.social-media {
  justify-content: flex-end;
  font-size: .9rem;
  margin-top: -5px;
}

/* line 761, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.social-media a {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 7px 10px 10px;
  border-radius: 50%;
  max-height: 38px;
}

/* line 770, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.social-media a:hover .facebook,
.social-media a:focus .facebook {
  background-color: #3b5998;
}

/* line 775, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.social-media a:hover .twitter,
.social-media a:focus .twitter {
  background-color: #00aced;
}

/* line 780, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.social-media a:hover .instagram,
.social-media a:focus .instagram {
  background-color: #d93175;
}

/* line 785, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.social-media a:hover .linkedin,
.social-media a:focus .linkedin {
  background-color: #0077b5;
}

/* line 790, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.social-media a span {
  position: relative;
  top: 4px;
}

/* line 795, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
[data-icon]:before {
  font-family: "icomoon";
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/*# sourceMappingURL=main.css.map */