@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,600&display=swap");
/* line 8, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 16, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
body {
  margin: 0;
}

/* line 26, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/* line 45, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

/* line 57, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 66, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
[hidden],
template {
  display: none;
}

/* line 75, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
a {
  background: transparent;
}

/* line 82, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* line 91, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 98, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 106, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 114, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 122, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 130, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
small {
  font-size: 80%;
}

/* line 137, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 145, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 149, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 157, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
img {
  border: 0;
}

/* line 164, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 172, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
figure {
  margin: 1em 40px;
}

/* line 179, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* line 188, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
pre {
  overflow: auto;
}

/* line 195, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* line 214, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

/* line 227, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
button {
  overflow: visible;
}

/* line 237, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
button,
select {
  text-transform: none;
}

/* line 249, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 260, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 268, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 278, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
input {
  line-height: normal;
}

/* line 284, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
*
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 300, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* line 310, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 322, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 330, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 340, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
legend {
  border: 0;
  padding: 0;
}

/* line 348, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
textarea {
  overflow: auto;
}

/* line 356, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
optgroup {
  font-weight: bold;
}

/* line 364, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 369, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_normalize.scss */
td,
th {
  padding: 0;
}

/* line 5, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_base.scss */
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 10, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_base.scss */
body {
  font-family: Poppins, sans-serif;
}

/* line 16, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_base.scss */
a {
  text-decoration: none;
  color: #000;
}

/* line 2, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.wrapper-outer {
  width: 100%;
}

/* line 6, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.wrapper-inner {
  width: 100vw;
  margin: 0 auto;
  max-width: 1260px;
  padding: 50px 15px;
}

/* line 13, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.flex {
  display: flex;
}

/* line 17, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.right {
  float: right;
}

/* line 21, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.left {
  float: left;
}

/* line 25, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.clearfix {
  clear: both;
}

/* line 29, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.h1, h1 {
  font-size: 2.25rem;
  margin: 0;
}

/* line 34, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.btn-container {
  display: block;
}

/* line 38, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.btn {
  display: inline-block;
  height: auto;
  line-height: 35px;
  text-transform: uppercase;
  text-align: center;
  font-size: 1rem;
  padding: 5px 15px;
  border-radius: 3px;
}

/* line 51, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
h1 {
  color: #333645;
}

/* line 55, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.h1 {
  color: #fff;
}

/* line 59, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.header,
.service-list,
.partner-carousell,
.news {
  background-color: rgba(255, 255, 255, 0.5);
}

/* line 66, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.content,
.footer {
  background-color: #333645;
}

/* line 71, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.sign-up,
.search-bar {
  background-color: #d6d6d6;
}

/* line 79, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.header__wrapper,
.search__wrapper {
  padding: 0 15px;
  margin: 5px 0;
}

/* line 85, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.container__logo,
.container__phone,
.container__hamburger {
  display: inline-block;
  float: left;
}

/* line 92, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.logo {
  height: 3rem;
}

/* line 96, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.hamburger {
  color: #fff;
  background-color: #000;
  font-size: 23px;
  padding: 5px 15px;
  margin: 0 0 0 20px;
}

/* line 104, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.search-bar {
  width: 100%;
  padding: 5px 40px 5px 15px;
}

/* line 109, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.search-submit {
  position: absolute;
  right: 15px;
  background: none;
  border: none;
}

/* line 118, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.hero {
  display: flex;
  position: relative;
  width: 100vw;
  height: 125vw;
}

/* line 125, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.hero img {
  width: 100%;
  object-fit: none;
  object-position: center;
}

/* line 131, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

/* line 139, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.overlay .btn {
  color: #fff;
  background-color: #526781;
  padding: 1em;
  border-radius: .25em;
  text-transform: uppercase;
}

/* line 150, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.services {
  flex-direction: column;
}

/* line 154, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.services .service {
  display: block;
  position: relative;
  top: 0;
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 1rem;
  margin: 30px 0 0;
  text-align: center;
}

/* line 165, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.services .service > span {
  display: block;
}

/* line 169, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.services .service > span.icon span {
  font-size: 2rem;
}

/* line 173, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.services .service > span.h2 {
  font-size: 1.3rem;
  position: relative;
  padding: 0 0 10px;
  margin: 0 0 11px;
}

/* line 180, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.services .service > span.p {
  font-size: .8125rem;
  line-height: 1.375rem;
  margin: 0 0 13px;
}

/* line 186, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.icon {
  height: 65px;
  width: 65px;
  display: block;
  color: #fff;
  border-radius: 50%;
  padding: 1em;
  margin: 0 auto 17px;
}

/* line 196, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.software .icon {
  background-color: #526781;
  padding: 1em;
}

/* line 201, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.software .btn {
  color: #fff;
  background-color: #526781;
}

/* line 206, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.support .icon, .support .btn {
  background-color: #4183d7;
}

/* line 210, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.marketing .icon, .marketing .btn {
  background-color: #2ecc71;
}

/* line 214, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.telecoms .icon, .telecoms .btn {
  background-color: #d64541;
}

/* line 218, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.web .icon, .web .btn {
  background-color: #79539a;
}

/* line 222, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.security .icon, .security .btn {
  background-color: #f62459;
}

/* line 226, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.training .icon, .training .btn {
  background-color: #ce4125;
}

/* line 230, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.services-all {
  text-align: center;
  margin: 0 0 15px;
}

/* line 235, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.services-all__view {
  font-size: 1.625rem;
  margin: 0 auto;
}

/* line 241, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.partner-carousell {
  overflow: hidden;
}

/* line 245, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.partner {
  display: inline;
  margin-right: 1rem;
}

/* line 250, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
img.coloured {
  position: absolute;
  z-index: 1;
}

/* line 255, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
img.greyscale {
  position: relative;
  left: 0;
  z-index: 2;
}

/* line 261, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
img.greyscale:hover {
  opacity: 0;
  cursor: pointer;
}

/* line 268, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
article p {
  line-height: 1.875rem;
  margin: 0 0 25px;
}

/* line 273, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.content {
  color: #fff;
}

/* line 277, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.content-link {
  color: #fff;
}

/* line 281, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.content-link:hover,
.content-link:focus {
  text-decoration: underline;
}

/* line 286, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.content .btn {
  font-size: 20px;
  padding: 10px 30px;
  border-radius: 6px;
}

/* line 292, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.btn-content {
  color: #fff;
  background-color: #272936;
  margin: 0 0 50px;
}

/* line 298, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.star {
  color: #ffa500;
  font-size: 2.25rem;
  margin-bottom: 25px;
}

/* line 304, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.btn-google {
  color: #fff;
  background-color: #4387f6;
  margin: 20px 8px 0 0;
}

/* line 310, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.btn-trustpilot {
  color: #fff;
  background-color: #00b67b;
  margin: 20px 0 0;
}

/* line 316, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.quote {
  font-style: italic;
  font-size: 1.3rem;
  font-weight: 600;
}

/* line 322, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.quote-author {
  font-size: 1.1rem;
  font-weight: 600;
  color: #a3a8ac;
}

/* line 330, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.news .h1 {
  color: #333645;
  margin-bottom: 30px;
}

/* line 337, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.btn-news {
  color: #fff;
  background-color: #79539a;
}

/* line 342, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.container__content {
  width: 100%;
  border-right: 1px solid #d6d6d6;
}

/* line 352, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.container__sign-up h2 {
  font-size: 2rem;
  line-height: 1.1;
  font-weight: 400;
  color: #333645;
  margin: 0 0 15px;
}

/* line 363, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.sign-up-input {
  flex: 1 1 450px;
  padding: 0 15px;
}

/* line 368, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.form-control {
  display: block;
  width: 100%;
  height: 47px;
  background-color: #fff;
  padding: 5px 15px;
  border: 1px solid #fff;
  border-radius: 2px;
  box-shadow: inset 0 1px 1px black;
}

/* line 379, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.required:after {
  content: " *";
  color: #d64541;
}

/* line 384, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.subscribe {
  color: #fff;
  background-color: #333645;
  border-color: #333645;
}

/* line 392, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
footer * {
  color: #fff;
}

/* line 396, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
ul, li {
  list-style-type: none;
  color: #fff;
  font-size: .8125rem;
  line-height: 1.375rem;
  padding: 0;
  margin: 0;
  text-align: left;
}

/* line 406, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
footer h4 {
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 0 26px;
}

/* line 413, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
footer a:hover,
footer a:focus {
  text-decoration: underline;
}

/* line 418, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
li {
  display: list-item;
}

/* line 422, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.footer-content {
  justify-content: space-between;
  flex-wrap: wrap;
}

/* line 427, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.footer-content .footer-services {
  justify-content: space-between;
}

/* line 431, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.footer-content .offices {
  justify-content: center;
  flex-wrap: wrap;
}

/* line 436, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.about, .service-links, .office {
  width: 225px;
  margin: 0 0 30px;
}

/* line 443, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.footer-bottom {
  justify-content: space-between;
  font-size: .8125rem;
  padding-top: 10px;
  border-top: 1px solid #666;
  margin-top: 10px;
}

/* line 451, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.copyright {
  padding-top: 5px;
}

/* line 455, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.social-media {
  justify-content: flex-end;
  font-size: 1.9rem;
  margin-top: -5px;
}

/* line 461, ../../netmatters/HTML & CSS Reflection/netmatters-homepage/netmatters-website/scss/base/_styles.scss */
.sm-icon {
  color: #fff;
}

/*# sourceMappingURL=main.css.map */