// ========================================
// Global Containers
// ========================================

// Tinted Mask

.menu-tint 				{
	position: absolute;
	top: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.4);
	opacity: 0;
	transition: ease 0.5s;
}

.menu-tint.active		{
	width: 100%;
	height: 10000%;
	z-index: 10;
	opacity: 1;
	cursor: pointer;
}

// Main Container

.main		{
	position: relative;
	top: 0;
	width: 100%;
	background: $white;
	transition: all ease 0.5s;
}

.main.active			{
	position: fixed;
	height: 100%;
	overflow-y: auto;
}

.main.active,
.menu-tint.active		{
	@include mmw(mobile);
	@include mqm(medium)	{
		@include mmw(full);
	}
}

// Inner Container

.wrapper-inner		{
	max-width: 48em;
	padding: 50px 15px;
	margin: 0 auto;
	@include mqm(medium)	{
		max-width: 62em;
	}
	@include mqm(large)	{
		max-width: 78.75em;
	}
}

// Remove this it is silly

.view-all			{
	text-align: center;
}
