// Body
.wrapper-outer	{
	width: 100%;
	margin: 0 auto;
}

.wrapper-inner	{
	width: 100vw;
	max-width: 1260px;
	padding: 50px 15px;
}

.flex 	{
	display: flex;
}

.right 	{
	float: right;
}

.left 	{
	float: left;
}

.clearfix	{
	clear: both;
}

.h1, h1		{
	font-size: 2.25rem;
	margin: 0;
}

.btn 		{
	padding: 1em;
	border-radius: .25em;
	text-transform: uppercase;
}

// Colour

body 				{
	
}

h1					{
	color: $color-sec;
}

.h1					{
	color: $white;
}

.header,
.service-list,
.partner-carousell,
.news				{
	background-color: $color-prim;
}

.content,
.footer 			{
	background-color: $color-sec;
}

.sign-up,
.search-bar
					{
	background-color: $x-light-grey;
}

// Header

.container 	{
	
}

.header__wrapper,
.search__wrapper	{
	padding: 0 15px;
	margin: 5px 0;
}

.container__logo,
.container__phone,
.container__hamburger 	{
	display: inline-block;
	float: left;
}

.logo 	{
	height: 3rem;
}

.hamburger	{
	color: $white;
	background-color: $black;
	font-size: 23px;
	padding: 5px 15px;
	margin: 0 0 0 20px;
}

.search-bar	{
	width: 100%;
	padding: 5px 40px 5px 15px;
}

.search-submit	{
	position: absolute;
	right: 15px;
	background: none;
	border: none;
}

// Hero

.hero	{
	display: flex;
	position: relative;
	width: 100vw;
	height: 125vw;
}

.hero img 	{
	width: 100%;
	object-fit: none;
	object-position: center;
}

.overlay 	{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}

.overlay .btn 	{
	color: $white;
	background-color: $grey-blue;
	padding: 1em;
	border-radius: .25em;
	text-transform: uppercase;
}

// Our services

.service-list	{
}

.services	{
	flex-direction: column;
}

.service	{
	width: 100%;
	padding: 30px;
	border: 1px solid $xx-light-grey;
	border-radius: 1rem;
	margin: 30px 0 0;
	text-align: center;
}

.icon 	{
	color: $white;
	border-radius: 50%;
	padding: 1em;
	margin-top: 1em 0;
}

.software .icon 	{
	background-color: $grey-blue;
	padding: 1em;
}

.software .btn	{
	color: $white;
	background-color: $grey-blue;
}

.support .icon, .support .btn	{
	background-color: $light-blue;
}

.marketing .icon, .marketing .btn	{
	background-color: $lime;
}

.telecoms .icon, .telecoms .btn	{
	background-color: $light-red;
}

.web .icon, .web .btn	{
	background-color: $purple;
}

.security .icon, .security .btn	{
	background-color: $pink;
}

.training .icon, .training .btn	{
	background-color: $tomato;
}

.allservices	{
	margin: 0 auto;
}
// Partner carousell

.partner-carousell {	
	overflow: hidden;
}

.partner	{
	display: inline;
	margin-right: 1rem;
}

img.coloured 	{
	position: absolute;
	z-index: 1;
}

img.greyscale	{
	position: relative;
	left: 0;
	z-index: 2;
}

img.greyscale:hover	{
	opacity: 0;
	cursor: pointer;
}

// Main content

.content 	{
	color: $white;
}

.content-link 	{
	color: $white;
}

.content-link:hover,
.content-link:focus 	{
	text-decoration: underline;
}


.btn-content 	{
	color: $white;
	background-color: $light-black;
}

.star 	{
	color: $orange;
	font-size: 2.25rem;
}

.btn-google	{
	color: $white;
	background-color: $skyblue;
}

.btn-trustpilot	{
	color: $white;
	background-color: $light-green;
}

.quote-author	{
	color: $light-grey;
}

// Latest News

.news .h1	{
	color: $color-sec;
}



.btn-news	{
	color: $white;
	background-color: $purple;
}

.container__content	{
	width: 100%;
	border-right: 1px solid $x-light-grey;
}

// Sign up



// Footer

.container__footer	{
	width: 60%;
	margin: 0 auto;
}


// Copyright / Social links