// ========================================
// Header
// ========================================

.header-inner			{
	padding: 20px 0;
}

.container 				{
	max-width: 48rem;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	@include mqm(medium)	{
		max-width: 62rem;
		padding-left: 30px;
		padding-right: 30px;
	}
	@include mqm(large)		{
		max-width: 78.75rem;
		padding-left: 45px;
		padding-right: 45px;
	}
}

.container__top			{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0;
}

.actions 				{
	display: flex;
	justify-content: flex-end;
	align-items: baseline;
	margin-left: 40px;
	& > *					{
		margin-left: 20px;
	}
}

.search-wrapper			{
	margin: 5px 0;
}

#sticky-header	{
	position: relative;
	top: 0;
	left: 0;
	background: #fff;
	z-index: 10;
	width: 100%;
}

.scroll-down #sticky-header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	background: #fff;
	transition: all 300ms ease-in-out;
	transform: translateY(-100%);
}

.scroll-up #sticky-header 	{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	background: #fff;
	transition: all 300ms ease-in-out;
}

// Hero

.hero__item					{
	@extend %overlay;
	width: 100%;
	z-index: 2;
	img 					{
		object-fit: cover;
	}
}

.overlay 				{
	position: relative;
	width: 100%;
	min-height: 590px;
	text-align: center;
	padding: 60px 0;
	z-index: 3;
	@include mqx(medium)	{
		background: rgba(0, 0, 0, .5);
	}
	@include mqm(medium)	{
		background: linear-gradient(270deg, transparent 25%, $black);
	}
	&__content				{
		align-items: center;
		justify-content: center;
		margin-left: auto;
		margin-right: auto;
		padding-left: 15px;
		padding-right: 15px;
		@include mqm(medium)	{
			justify-content: flex-start;
			margin-left: 0;
			padding-left: calc((100vw - 62rem) / 2 + 30px);
			text-align: left;
		}
		@include mqm(large)		{
			padding-left: calc((100vw - 78.75rem) / 2 + 45px);
		}
	}
}

.text *					{
	color: $white;
}

.owl-theme .owl-dots			{
	position: absolute;
	left: 50%;
	bottom: 44px;
	transform: translateX(-50%);
}

.owl-theme .owl-dots .owl-dot span {
	background: hsla(0, 0%, 100%, 0.5);
	width: 11px;
	height: 11px;
	margin: 0 10px;
}

.owl-theme .owl-dots .owl-dot.active span  		{
	position: relative;
	background: #fff;
}

.owl-dot.active span::after {
	content: "";
	position: absolute;
	top: -6px;
	left: -6px;
	width: 23px;
	height: 23px;
	border-radius: 50%;
	border: 2px solid #fff;
}