// ========================================
// Header
// ========================================

.header-inner			{
	padding: 20px 0;
}

.container 				{
	max-width: 48rem;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	@include mqm(medium)	{
		max-width: 62rem;
		padding-left: 30px;
		padding-right: 30px;
	}
	@include mqm(large)		{
		max-width: 78.75rem;
		padding-left: 45px;
		padding-right: 45px;
	}
}

.container__top			{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0;
}

.actions 				{
	display: flex;
	justify-content: flex-end;
	align-items: baseline;
	margin-left: 40px;
	& > *					{
		margin-left: 20px;
	}
}

.search-wrapper			{
	margin: 5px 0;
}

// Hero

.hero					{
	width: 100%;
	min-height: 550px;
	position: relative;
	flex-direction: column;
	justify-content: center;
	z-index: 1;
	&__item					{
		@extend %overlay;
		z-index: 2;
	}
}

.overlay 				{
	position: relative;
	min-height: 550px;
	text-align: center;
	padding: 60px 0;
	z-index: 3;
	@include mqx(medium)	{
		background: rgba(0, 0, 0, .5);
	}
	@include mqm(medium)	{
		background: linear-gradient(270deg, transparent 25%, $black);
	}
	&__content				{
		align-items: center;
		justify-content: center;
		margin-left: auto;
		margin-right: auto;
		padding-left: 15px;
		padding-right: 15px;
		@include mqm(medium)	{
			justify-content: flex-start;
			margin-left: 0;
			padding-left: calc((100vw - 62rem) / 2 + 30px);
			text-align: left;
		}
		@include mqm(large)		{
			padding-left: calc((100vw - 78.75rem) / 2 + 45px);
		}
	}
}

.text *					{
	color: $white;
}
