// ========================================
// Newsletter
// ========================================

.wrapper__input			{
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
}

.error		{
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 0.9375rem;
	background-color: $alert-bg;
	border: 0.0625rem solid $alert-bd;
	border-radius: 0.125rem;
	margin: 0 0 1.25rem;
}

.error-text				{
	color: $alert;
}

.close 					{
	font-size: 1.125rem;
	font-weight: 700;
	line-height: 1;
	color: $black;
	text-shadow: 0 0.0625rem 0 $white;
	padding: 0;
	background: transparent;
	border: 0;
	opacity: 0.2;
	&:hover,
	&:focus					{
		opacity: 1;
	}
}

.sign-up-input			{
	flex: 1 1 450px;
	padding: 0 15px;
}

.container-privacy		{
	position: relative;
	line-height: 32px;
	cursor: pointer;
}

.button-left			{
	position: relative;
	width: 100%;
	height: 100%;
}
