// ========================================
// Client Banner
// ========================================

.client-banner				{
	justify-content: space-between;
	text-align: center;
	padding: 50px 0 0;
}

.client 					{
	position: relative;
	vertical-align: middle;
	padding: 0 20px;
}
