// ========================================
// Form Elements
// ========================================

// Header

.search__form	{
	margin-top: 11px;
	position: relative;
}

.search__bar	{
	width: 100%;
	position: relative;
	height: 47px;
	background-color: $news-border;
	padding: 5px 40px 5px 15px;
	border: 3px solid $search;
	&:focus					{
		border-color: #5bc0de;
    	outline: 0;
    	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08),
    	0 0 8px rgba(91, 192, 222, 0.6);
	}
	@include mqm(small)		{
		height: 56px;
		background-color: $white;
		border-width: 1px;
	}
	@include mqm(medium)	{
		@include mqx(large)		{
		visibility: hidden;
		width: 60px;
		}
	}
}

.search__bar	{
	@include mqm(medium)	{
		@include mqx(large)	{
			opacity: 0;
			visibility: hidden;
			transition: 
			opacity 0.8s ease,
			visibility 1s ease;
		}
	}
}

.search__bar.active	{
	opacity: 1;
	visibility: visible;
}

.search__submit		{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 5px;
	font-size: 1em;
	background: none;
	border: none;
	@include mqm(small)	{	
		right: 0;
		width: 60px;
		font-size: 1em;
		color: $white;
		background-color: $search-submit;
		padding: 0;
		border-radius: 0 3px 3px 0;
		@include btn($search-submit);
	}
	@include mqm(medium)	{	
		border-radius: 3px;
	}
	@include mqm(large)	{
		border-radius: 0 3px 3px 0;
	}
}

// Newsletter

.form-group 	{
	margin: 0 0 15px;
}

.form-control	{
	display: block;
	width: 100%;
	height: 47px;
	background-color: $white;
	padding: 5px 15px;
	border: 1px solid $white;
	border-radius: 2px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0,.075);
	&:focus					{
		border-color: #5bc0de;
    	outline: 0;
    	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08),
    	0 0 8px rgba(91, 192, 222, 0.6);
	}
}

.required:after		{
	content: " *";
	color: $required;
}
