// ========================================
// Images
// ========================================

// Header

.logo img 				{
	display: block;
	max-width: 100%;
}

// Hero

.hero img 				{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

// Newsletter

.container__img img 	{
	width: 100%;
}

// Client Banner

.client img			{
	position: relative;
	width: 100%;
	height: auto;
}

.client img.colour	{
	display: none;
}

.client:hover,
.client:focus		{
	.greyscale			{
		display: none;
	}
	.colour 			{
		display: block;
	}
}