// ========================================
// Nav Bar
// ========================================

nav 						{
	background-color: $color-sec;
}

.nav-bar					{
	display: flex;
	flex-direction: row;
}

.nav-item					{
	flex-grow: 1;
	padding: 1.1875rem 0 1.125rem;
	margin: 5px, 15px;
	background: transparent;
}

.nav-item a					{
	color: $white;
	&:hover,
	&:focus						{
		text-decoration: none;
	}
}

.nav-item a *				{
	background: transparent;
	text-align: center;
	text-transform: uppercase;
}

.nav-item a > span  		{
	display: block;
}

.h6							{
	font-size: .6875rem;
	font-weight: 200;
	margin: .5rem 0 0;
}

.h5							{
	font-size: 1.125rem;
	font-weight: 200;
	margin: -8px 0 0px;
}

.nav-icn					{
	font-size: 1.4375rem;
}

@each $name, $color in $colors {
	.nav-icon			{
		&.#{$name} 			{
			color: $color;
		}
	}
	.nav-item:hover,
	.nav-item:focus		{
		.nav-icon			{
			color: $white;
		}
		&.#{$name} 			{
			background-color: $color;
		}
	}	
}