// ========================================
// Off Screen Menu
// ========================================

// Menu Button

.hamburger-menu	{
	height: 3.5rem;
	width: 3.75rem;
	position: relative;
	cursor: pointer;
	padding: 1rem;
	background-color: $color-sec;
	margin-top: auto;
	margin-bottom: 5px;
	@include btn($color-sec);
	border-radius: 0.15rem;
	transition: ease .3s;
}

.ham-bar	{
	width: 55%;
	height: 0.25rem;
	background-color: #fff;
	border-radius: 0.15rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: transform .5s, opacity .6s, top .5s;
}

.bar-top	{
	top: 32.5%;
}

.bar-bottom	{
	top: 67.5%;
}

.hamburger-menu.active	{
	border: none;
	background-color: $color-sec;
	opacity: 1;
}

.hamburger-menu.active .bar-top	{
	transform: translate(-50%, -50%) rotate(-315deg);
	top: 50%;
}

.hamburger-menu.active .bar-mid	{
	transform: translate(-50%, -50%) rotate(180deg);
	opacity: 0;
}

.hamburger-menu.active .bar-bottom	{
	transform: translate(-50%, -50%) rotate(-225deg);
	top: 50%;
}

// Sidebar Menu

.off-screen-menu	{
	position: fixed;
	top: 0;
	@include sbw(mobile);
	transition: right ease .5s;
	@include mqm(medium)	{
		@include sbw(full);
	}
}

.off-screen-menu.active	{
	right: 0;
	z-index: 10;
	height: 100%;
	background-color: $color-sec;
	overflow-y: scroll;
}

.off-screen-menu ul		{
	text-transform: uppercase;
	a 						{
		color: $white;
		text-decoration: none;
	}
}

// Menu Items

.menu-header			{
	font-size: 1rem;
	padding: 15px 20px;
	background-color: $color-sec;
	@extend %menu-bd;
	transition: background-color ease .1s;
}

.sub-menu:hover,
.sub-menu:focus			{
	.menu-header			{
		background-color: lighten($color-sec, 5%);
	}
}

.menu-item				{
	font-size: 0.9rem;
	padding: 15px 20px;
	background-color: $btn-content;
	@extend %menu-bd;
}

.angle-icn				{
	font-size: 0.5rem;
	padding-right: 0.5rem;
}

// Sidebar Navigation Medium

.sidebar-nav-min-medium	{
	text-align: center;
}

.sub-menu-contact-med	{
	font-size: 1rem;
	text-align: center;
	padding: 1.25rem;
	background-color: $color-sec;
	border-radius: 3px;
	border: 1px solid hsla(0, 0%, 100%, 0.1);
	outline: 1px solid rgba(0, 0, 0, 0.25);
	margin: 1.25rem;
}

.sub-menu-header-med	{
	text-align: center;
	padding: 1rem;
	background-color: $color-sec;
	border-radius: 3px;
	border: 1px solid hsla(0, 0%, 100%, 0.1);
	outline: 1px solid rgba(0, 0, 0, 0.25);
	.h5						{
		margin-top: 0.15rem;
	}
}

.sub-menu-nav-med			{
	margin: 1.25rem 0;
}

.nav-item-med			{
	margin: 1.25rem;
	&:hover,
	&:focus					{
		.sub-menu-header-med		{
			background-color: lighten($color-sec, 5%);
		}
	}
}

.menu-item-med				{
	font-size: 1rem;
	text-align: center;
	padding: 10px;
	background-color: $btn-content;
	@extend %menu-bd;
}
