// ========================================
// Base Styles
// ========================================

// Body

body 				{
	font-family: Poppins, sans-serif;
	letter-spacing: .4px;
}

// Links

a 					{
	color: $black;
	text-decoration: none;
	background: transparent;
	&:hover,
	&:focus 			{
		text-decoration: underline;
	}
}

// Lists

ul, li				{
	list-style-type: none;
	color: $white;
	font-size: .8125rem;
	line-height: 1.375rem;
	padding: 0;
	margin: 0;
	text-align: left;
}

li 					{
	display: list-item;
}

// Images

img 				{
	vertical-align: middle;
	border: 0;
}

// Form elements

label 				{
	display: inline-block;
	color: $color-sec;
	font-weight: 600;
	margin: 0 0 5px;
	& a 					{
		text-decoration: underline;
	}
}

// ==========================================================================
// Global Config
// ==========================================================================

// UI Colors

.header,
.service-list,
.partner-slideshow,
.news				{
	background-color: $color-prim;
}

.content,
.footer 			{
	background-color: $color-sec;
}

.sign-up			{
	background-color: $news-border;
}

// Layout

.flex 	{
	display: flex;
}

.right 	{
	float: right;
}

.left 	{
	float: left;
}

.clearfix	{
	clear: both;
}

.margin-top 		{
	margin-top: 2rem;
}

.mobile				{
	@include mqm(small)	{
		display: none;
	}
}

.max-small			{
	@include mqx(small)	{
		display: none;
	}
}

.medium				{
	@include mqx(small)	{
		display: none;
	}
}

.min-medium				{
	@include mqm(medium)	{
		display: none;
	}
}

.full 				{
	@include mqx(medium)	{
		display: none;
	}
}

.min-large				{
	@include mqx(large)	{
		display: none;
	}
}

.hidden	{
	display: none!important;
	visibility: hidden!important;
	overflow: hidden;
}
