// ==========================================================================
// Global Config
// ==========================================================================

// Font Stacks
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,600&display=swap');
//font-family: 'Poppins', sans-serif;

// Font Weights



// Descriptive Base Colors



// Color Usage
$black			:	#000000;
$light-green   	: 	#00b67b;
$dark-grey		:	#666666;
$blue-grey		:	#67809f;
$purple			:	#79539a;
$lilac			:	#926fb1;
$grey			:	#999aa2;
$light-grey		:	#a3a8ac;
$dark-red		:	#a3331d;
$red 			:	#bc2c28;
$tomato 		:	#ce4125;
$x-light-grey	:	#d6d6d6;
$light-red		:	#d64541;
$xx-light-grey	:	#dddddd;
$dark-pink		:	#de093f;
$pink			:	#f62459;
$orange 		:	#ffa500;
$white 			:	#ffffff;
$green 			:	#25a25a;
$light-black	:	#272936;
$blue 			:	#286abd;
$lime 			:	#2ecc71;
$dark-blue		:	#333645;
$light-blue		:	#4183d7;
$skyblue		:	#4387f6;
$grey-blue		:	#526781;
$x-dark-grey	:	#555555;


// Color Palette Modifiers
$color-prim		: rgba($white, .5);
$color-sec		: $dark-blue;


// UI Colors



// Text



// Border radius



// Transitions



// Path to Assets



// Flexbox



// Breakpoints

//768px
//992px
//1260px