// ==========================================================================
// Global Config
// ==========================================================================

// Font Stacks
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,600&display=swap');



// Font Weights



// Descriptive Base Colors



// Color Usage
$black			:	#000;
$light-green   	: 	#00b67b;
$dark-grey		:	#666;
$blue-grey		:	#67809f; // software news / careers
$purple			:	#79539a;
$lilac			:	#926fb1; //news
$grey			:	#999aa2;
$light-grey		:	#a3a8ac;
$dark-red		:	#a3331d;
$red 			:	#bc2c28;
$tomato 		:	#ce4125;
$x-light-grey	:	#d6d6d6;
$light-red		:	#d64541;
$xx-light-grey	:	#ddd;
$dark-pink		:	#de093f;
$pink			:	#f62459;
$orange 		:	#ffa500;
$white 			:	#fff;
$green 			:	#25a25a;
$light-black	:	#272936;
$blue 			:	#286abd;
$lime 			:	#2ecc71;
$dark-blue		:	#333645; //color-sec
$light-blue		:	#4183d7;
$skyblue		:	#4387f6;
$grey-blue		:	#526781;
$x-dark-grey	:	#555;
$fb 			:	#3b5998;
$twit 			:	#00aced;
$insta 			:	#d93175;
$linked			:	#0077b5;

// Color Palette Modifiers
$color-prim		: rgba($white, .5);
$color-sec		: $dark-blue;


// UI Colors



// Text



// Border radius



// Transitions



// Path to Assets



// Flexbox



// Breakpoints

//767px
//992px
//1259px