// ========================================
// Mixins
// ========================================

// Media queries

@mixin mqm($mq-breakpoint, $mq-breakpoints: $breakpoints) {

  @if map-has-key($mq-breakpoints, $mq-breakpoint) {
    $mq-breakpoint: map-get($mq-breakpoints, $mq-breakpoint);
  }
  
  @media screen and (min-width: #{$mq-breakpoint}) {
    @content;
  }
}

@mixin mqx($mq-breakpoint, $mq-breakpoints: $breakpoints) {

  @if map-has-key($mq-breakpoints, $mq-breakpoint) {
    $mq-breakpoint: map-get($mq-breakpoints, $mq-breakpoint);
  }
  
  @media screen and (max-width: #{$mq-breakpoint}) {
    @content;
  }
}

// Button Hover

@mixin btn($color)  {
    &:hover,
    &:focus                 {
        text-decoration: none;
        background-color: darken($color, 10%);
    }
}