// ========================================
// Breakpoints
// ========================================

$breakpoints:		(
	small: 48rem,
	medium: 62rem,
	large: 78.75rem
);

$sidebar-widths:			(
	mobile: 17.1875rem,
	full: 22rem
);