// ========================================
// Colours
// ========================================

// Descriptive Base Colors

$black						:	#000000;
$white 						:	#ffffff;
$color-sec					:	#333645; // onyx
$border						:	#dddddd; // gainsboro
$search						:	#cccccc; // chinese-silver

$software					:	#67809f; // rackley
$support					:	#4183d7; // tufts-blue
$marketing 					:	#2ecc71; // ufo-green
$telecoms					:	#d64541; // jasper
$web 						:	#79539a; // dark-lavender
$security 					:	#f62459; // awesome
$training					:	#ce4125; // dark-pastel-red

$btn-content				:	#272936; // gunmetal
$star						:	#ffa500; // orange-web
$quote-author				:	#a3a8ac; // metalic-silver
$google						:	#4387f6; // blueberry
$trustpilot 				: 	#00b67b; // green-munsell
$news						:	#926fb1; // purple-mountain-majesty
$required					:	#d24d57; // dark-terra-cotta
$footer-border				:	#666666; // granite-gray

$facebook 					:	#3b5998; // chinese-blue
$twitter 					:	#00aced; // vivid-cerulean
$instagram 					:	#d93175; // telemagenta
$linkedin					:	#0077b5; // star-command-blue

$search-submit				:	#7e808a;
$contact					:	#999aa2;
$alert 						: 	#a94442;
$alert-bg					: 	#f2dede;
$alert-bd					: 	#ebccd1;
$search-focus				:	#e5e5e5;

// To Change

$news-border				:	$border;

// Color Usage		

$color-prim					:	rgba($white, .5);

// Colour Maps

$colors: 	(
	software	: $software,
	support		: $support,
	marketing	: $marketing,
	telecoms	: $telecoms,
	web			: $web,
	security	: $security,
	training	: $training,
	netmatters	: $news
);

// @each $name, $color in $colors {

// }